<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="RevitAppInfo" type="System.Configuration.NameValueSectionHandler" />
        
        <section name="ApiOptions" type="System.Configuration.NameValueSectionHandler" />
        <section name="StartUpSettings" type="System.Configuration.NameValueSectionHandler" />
        <section name="RevitContextOptions" type="System.Configuration.NameValueSectionHandler" />
    </configSections>
    
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    
    <appSettings />

    <RevitContextOptions>
        <add key="Guid" value="369186E7-1F68-4470-BB4F-89EB6DFF7826" />
        <add key="VendorName" value="dosymep" />
        <add key="LicenseKey" value="trollface.jpg" />
        <add key="ApplicationName" value="RevitCoreConsole" />
        <add key="RevitEnginePath" value="C:\Program Files\Autodesk\Revit 2020" />
    </RevitContextOptions>
    
    <ApiOptions>
        <add key="IsAcceptForeignFiles" value="false" />
        <add key="IsUpdateSharedFamilies" value="false" />
        <add key="IsIgnoreMissingUpdaters" value="false" />
        <add key="IsUpdateFamilyParameters" value="false" />
        <add key="IsOverwriteExistingFiles" value="false" />
        <add key="IsReplaceExistingSymbols" value="false" />
        <add key="IsIgnoreLinkedFilesOnSave" value="false" />
        <add key="IsForceMultiUndoOperation" value="false" />
    </ApiOptions>
    
    <StartUpSettings>
        <add key="EnableIfc" value="true" />
        <add key="LanguageCode" value="RUS" />
        <add key="UseApiOptions" value="false" />
    </StartUpSettings>
</configuration>