<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <configSections>
        <section name="ApiOptions" type="System.Configuration.NameValueSectionHandler" />
        <section name="ApiSettings" type="System.Configuration.NameValueSectionHandler" />
        <section name="RevitAppInfo" type="System.Configuration.NameValueSectionHandler" />
    </configSections>
    <ApiOptions>
        <add key="IsAcceptForeignFiles" value="true" />
        <add key="IsUpdateSharedFamilies" value="true" />
        <add key="IsIgnoreMissingUpdaters" value="true" />
        <add key="IsUpdateFamilyParameters" value="true" />
        <add key="IsOverwriteExistingFiles" value="true" />
        <add key="IsReplaceExistingSymbols" value="true" />
        <add key="IsIgnoreLinkedFilesOnSave" value="true" />
        <add key="IsForceMultiUndoOperation" value="true" />
    </ApiOptions>
    <ApiSettings>
        <add key="EnableIfc" value="true" />
        <add key="UseApiOptions" value="false" />
        <add key="LanguageCode" value="ENU" />
    </ApiSettings>
    <RevitAppInfo>
        <add key="Guid" value="369186E7-1F68-4470-BB4F-89EB6DFF7826" />
        <add key="LicenseKey" value="trollface.jpg" />
        <add key="VendorName" value="dosymep" />
        <add key="ApplicationName" value="RevitCoreConsole" />
        <add key="RevitEnginePath" value="C:\Program Files\Autodesk\Revit 2020" />
    </RevitAppInfo>
</configuration>